@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}